<%- include('../_layout/adminheader') %>

<h2 style="margin-top:5%;" class="page-title">Add a Page</h2>
<a href="/admin/pages" class="btn btn-primary"> Back to all pages</a>

<form method="post" action="/admin/pages/add-page" style="margin-top:2%;">
    <div class="form-group">
        <label for="">Title</label>
        <input type="text" class="form-control" name="title" value="<% title %>" placeholder="Enter title" />

        <label for="">Slug</label>
        <input type="text" class="form-control" name="slug" value="<% slug %>" placeholder="Enter slug" />

        <label for="">Content</label>
        <textarea class="form-control" id="ta" name="content" cols="30" rows="9" value="<% content %>" placeholder="Enter content" ></textarea>

        <button class="btn btn-danger">Submit</button>

    </div>
</form>
<%- include('../_layout/adminfooter') %>